<table border=1>
    <tr>
      <th> Restaurant Name </th>
      <th> Order Number </th>
      <th> Restaurant Number </th>
      <th> Call Status </th>
      <th> Call Attempts </th>
    </tr>
    <% tabs.each do |tab_name| %>
    <tr>
      <td><%= tab_name %></td>
    </tr>
    <% end %>
</table>
