<!DOCTYPE html><!-- DON'T FORGET TO REMOVE THIS. IT's JUST FOR SYNTAX HIGHLIGHTING -->

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
			<div class="row">
				<a class="brand" href="http://twitter.github.com/bootstrap/examples/starter-template.html#">Notifications Dashboard</a>
				<div class="pull-right">
					<form class="navbar-search">
						<input type="text" class="input-large search-query" placeholder="Search...">
						<button type="submit" class="btn"><i class="icon-search"></i></button>
					</form>
					<a class="btn btn-success btn-large"><i class="icon-pencil icon-white"></i></a>
				</div>
			</div>
  	</div>
  </div>
</div>
	
<div class="container">

  <table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th><a>Order Number</a></th>
				<th><a>Order Time</a></th>
				<th><a>Call Status</a></th>
				<th><a>Call Attempts</a></th>
				<th><a>Email Status</a></th>
				<th><a>Territory</a></th>
				<th><a>Restaurant</a></th>
				<th><a>Order Type</a></th>
				<th><a>Phone Number</a></th>
				<th><a>Action</a></th>
			</tr>
		</thead>
		<tbody class="table-body">
		</tbody>
  </table>

</div> <!-- /container -->
	
<script>
	$(function () {

		var data = GetData();
					
		var template = '{{#entries}}\
							<tr>\
								<td>{{Order Number}}</td>\
								<td>{{Order Time}}</td>\
								<td><span class="label" style="text-align: middle;">{{Call Status}}</span></td>\
								<td>{{Call Attempts}}</td>\
								<td>{{Email Status}}</td>\
								<td>{{Territory}}</td>\
								<td>{{Restaurant}}</td>\
								<td>{{Order Type}}</td>\
								<td><input class="input-small phone-number" type="text" value="{{Phone Number}}"></td>\
								<td><a class="btn btn-action btn-resend"><i class="icon-repeat"></i></a></td>\
							</tr>\
						{{/entries}}';
						
		var html = Mustache.to_html(template, data);
		
		$('.table-body').html(html);
	});
</script>
